ul.users {
    list-style-type: none;
    display: inline;
    line-height: 1.5em;    
}

ul.users > li{
    display: inline-block;
    max-width: 200px;
    background: #ddd;
}

table > tr > td {
    font-size:0.8rem;
}