<userlists></userlists>
<hr>
<div>Sammenlign med
    <button type="button" *ngFor="let u of users" (click)="getCompareDKList(u.code)">{{u.name}}</button>
</div>
  <hr>
<div class="birdrecords">
  <h4>{{selectedName}} - total: {{birdRecords.length}}</h4>
  <table>
    <thead><th>id</th><th>Navn</th></thead>
    <tbody>
      <tr *ngFor="let rec of birdRecords">
        <td>{{rec.species_id}}</td>
        <td>{{rec.bird_name}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="birdrecords">
  <h4>{{selectedToCompare}} - total: {{compareRecords.length}}, ikke set: {{filteredRecords.length}}</h4>  
  <table>
    <thead><th>id</th><th>Navn</th></thead>
    <tbody>
      <tr *ngFor="let rec of filteredRecords">
        <td>{{rec.species_id}}</td>
        <td>{{rec.bird_name}}</td>
      </tr>
    </tbody>
  </table>  
</div>
