
 <form #f="ngForm" *ngIf="profile">
  <div class="form-check form-check-inline">
      <label class="form-check-label">DK
          <input name="options" type="radio" value="DK"  [(ngModel)]="model.listType">
      </label>
      <label class="form-check-label">WP
        <input name="options" type="radio" value="WP" [(ngModel)]="model.listType" >
    </label>
  </div>
  <div class="form-control form-control-inline">
    <button class="btn btn-default btn-md" (click)="loadList()">Get list</button>
  </div>
</form>
<div *ngIf="birdRecords">List contains {{birdRecords.length}} species</div>
<table style="width:100%" *ngIf="birdRecords">
  <thead>
    <th>species id</th><th>Species Name</th><th>Latin Name</th>
  </thead>
  <tbody>
    <tr *ngFor="let rec of birdRecords">
      <td>{{rec.speciesId}}</td>
      <td>{{rec.birdName}}</td>
      <td>{{rec.latinBirdName}}</td>
    </tr>
  </tbody>
</table>