<div class="container">
  <header class="row">
    <div class="col">
      <h3 class="masthead-brand">{{title}} - demo</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Home</a>
        <a class="nav-link" routerLink="/profiles" routerLinkActive="active">Profiles</a>
      </nav>
    </div>
  </header>

  <router-outlet></router-outlet>

  <footer class="row">
    <div class="col">
      <p>
      <a class="nav-link" routerLink="/">Back to main page</a>
    </p>
    </div>
  </footer>
</div>